/* 

	TABS:
	Defaults

*/
@import "../../atoms/Media/media";
@import "../../atoms/Animation/animation";
@import "../../atoms/Theme/border";

[data-tabs-progress] {
	@include animation(width);
	width: calc(var(--progress) * 100%);
}
[data-tabs] {
	overflow: hidden;
}

[data-pane-container] {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	align-items: start;
}

	[data-pane] {
		grid-column: 1;
		grid-row: 1;
		visibility: hidden;
		pointer-events: none;
		opacity: 0;

		&[data-active] {
			z-index: 1;
			visibility: visible;
			pointer-events: all;
			display: grid;
			opacity: 1;
		}
	}


[data-tab] {
	cursor: pointer;
	@include border(bottom,0.8);
	&[data-active] {
		opacity: 1;
	}
	&:not([data-active]) {
		opacity: 0.5;
	}
}

[data-tab][data-active].title {
	height: 100%;
}
