/* 

	TABS:
	Defaults

*/
@import "../../atoms/Media/media";
@import "../../atoms/Animation/animation";
@import "../../atoms/Theme/border";

[data-tabs-progress] {
	@include animation(width);
	width: calc(var(--progress) * 100%);
}
[data-tabs] {
	overflow: hidden;
}

[data-pane-container] {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	align-items: start;
}

	[data-pane] {
		grid-column: 1;
		grid-row: 1;
		visibility: hidden;
		pointer-events: none;

		&:not([data-active]) {	
			card, button, a.button {
				@include animation((transform, opacity));
				transform: scale(0.75);
				opacity: 0;
			}
		}
/*		opacity: 0;*/

		&[data-active] {
			z-index: 1;
			pointer-events: all;
			visibility: visible;


/*			opacity: 1;*/
/*			transform: none !important;*/
		}
	}


[data-tab] {
	cursor: pointer;
	@include border(bottom,0.8);
	&[data-active] {
		opacity: 1;

	}
	&:not([data-active]) {
		opacity: 0.5;
	}
}

[data-pane] {
	overflow-x: hidden;
	@include animation((transform));
	&[close-next] {
		transform: translateX(-100%);
	}
	&[close-prev] {
		transform: translateX(100%);
	}
	&[close-prev],&[close-next] {
		card, button, a.button {
			@include animation((transform, opacity));
			transform: scale(0.75);
			opacity: 0;
		}
	}
	&[open-next] {
		z-index: 1;
		visibility: visible;
		animation: nextPane $defaultDuration $defaultEasing;
	}
	&[open-prev] {
		z-index: 1;
		visibility: visible;
		animation: prevPane $defaultDuration $defaultEasing;
	}
	&[open-prev],&[open-next] {
		card, button, a.button {
			transform: none;
			opacity: 1;
		}
	}
}
@keyframes nextPane {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: none;
	}
}
@keyframes prevPane {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: none;
	}
}
