/*	

	EXERCISE

*/
@import "../../atoms/Theme/border";
:root {
	
}
exercise, .exercise {

	&__figure {

	}


}
[data-checkbox] {
	input:checked + [superset] {
		opacity: 1;
	}
	input:checked + [checkbox] div.button.checkbox {
		background: rgba(var(--color-invert),1);
		color: rgba(var(--color-dark),1);

		icon {
			opacity: 1;
		}
	}
}