/*

	BODY

*/

html {
	--scroll-progress: 0.0;
	background: var(--background);
	color: var(--col);
}

body {
	margin: 0;
	padding: 0;
	height: 100dvh;
	overflow-x: hidden;
}

[data-app] {
	position: relative;
	height: 100dvh;
}

main {
	height: 100dvh;
	overflow-y: scroll;
}