/*	

	LAYOUT

*/

@import "../Media/media";

:root {
	
}

$limit: 20;
$display: (
	grid, 
	flex, 
	block, 
	inline-flex, 
	inline-block, 
	none
);
$flow: (
	horizontal: row, 
	vertical: column, 
	none: none
);
$gap: (
	'': gap,
	'-x': column-gap, 
	'-y': row-gap
);
$pos: (
	start, 
	center, 
	end, 
	stretch, 
	none, 
	space-between, 
	space-around
);

@mixin grid_columns {
	@for $col from 1 through 12 {
		&__#{$col} {
			--ncol: #{$col};
			display: grid;
			grid-template-columns: repeat(var(--ncol), minmax(0, 1fr));
		}
	}
}
@mixin grid_span {
	@for $width from 1 through 12 {
		&__#{$width} {
			--width: #{$width};
			grid-column: span var(--width);
		}
	}
}
@mixin display($modifier: '') {
  @each $label in $display {
    .#{$modifier}#{$label} {
      display: #{$label};
    }
  }
}
@mixin flow() {
	@each $label, $value in $flow {
		&__#{$label} {
			flex-flow: #{$value};
			grid-auto-flow: #{$value};
		}
	}
}
@mixin place() {
	@each $align in $pos {
		@each $justify in $pos {
			&__#{$align}-#{$justify} {
				place-items: #{$align} #{$justify};
			}
		}
	}
}
@mixin align() {
	@each $align in $pos {
		&__#{$align} {
			align-content: #{$align};
			align-items: #{$align};
		}
	}
}
@mixin justify() {
	@each $justify in $pos {
		&__#{$justify} {
			justify-content: #{$justify};
			justify-items: #{$justify};
		}
	}
}

@mixin gap($max: $limit) {
  @for $i from 0 through $max {
  	@each $label, $attr in $gap {
	  	@if($i == 0) { 
	  		&#{$label}__#{$i} {
	  		  #{$attr}: calc(0.15 * var(--spacing));
	  		}
	  	} @else {
		    &#{$label}__#{$i} {
		      #{$attr}: calc(#{$i} * var(--spacing));
		    }
	  	}
  	}
  } 
  @for $i from 1 through 9 {
  	@each $label, $attr in $gap {
      &#{$label}__0#{$i} {
	      #{$attr}: calc(#{$i/10} * var(--spacing));
	    }
	  }
  } 
}

@each $modifier , $breakpoint in $map-grid-props {
	@if($modifier == '') {
		@include display;
		.grid {
			@include grid_columns;
		}
		.span {
			@include grid_span;
		}
		.flow {
			@include flow;
		}
		.place {
			@include place;
		}
		.align {
			@include align;
		}
		.justify {
			@include justify;
		}
		.gap {
			@include gap;
		}
	} @else {
		@include create-mq($breakpoint, 'max') {
			@include display(#{$modifier}\:);
			.#{$modifier}\:grid {
				@include grid_columns;
			}
			.#{$modifier}\:span {
				@include grid_span;
			}
			.#{$modifier}\:flow {
				@include flow;
			}
			.#{$modifier}\:place {
				@include place;
			}
			.#{$modifier}\:align {
				@include align;
			}
			.#{$modifier}\:justify {
				@include justify;
			}
			.#{$modifier}\:gap {
				@include gap;
			}
		}
	}
}

.grow {
	flex-grow: 1;
	word-break: break-word;
}

.z__1 {
	z-index: 1;
}