/*

	RADIO INPUTS

*/

.form__radio {
	
	&_group {
		display: flex;
		column-gap: 0.5em;
		align-items: center;

		.form__separator {
			font-weight: 300;
		}
	}

	& {
		display: flex;
		column-gap: 1em;

		input {
			display: none;
		}

		input:checked + label {
			opacity: 1;
		}
	}

	&_label {
		opacity: 0.2;
	}
}
