/*defaults*/
$defaultEasing: cubic-bezier(0.16, 1, 0.3, 1);
$defaultDuration: 600ms;

@mixin animation($property: all, $duration: $defaultDuration, $easing: $defaultEasing) {
  transition-property: $property;
  transition-duration: $duration;
  transition-timing-function: $easing;
  will-change: $property;
}
