/*defaults*/
$defaultEasing: cubic-bezier(0.16, 1, 0.3, 1);
$easeOutExpo: cubic-bezier(0.16, 1, 0.3, 1);
$easeInExpo: cubic-bezier(0.7, 0, 0.84, 0);
$easeInOutExpo: cubic-bezier(0.87, 0, 0.13, 1);
/*$defaultEasing: cubic-bezier(0.860, 0.000, 0.070, 1.000);*/
$defaultDuration: 600ms;


@mixin animated {
  animation-duration: $defaultDuration*1;
  animation-fill-mode: both;
  animation-timing-function: $easeOutExpo;
}

@mixin animation($property: all, $duration: $defaultDuration, $easing: $defaultEasing) {
  transition-property: $property;
  transition-duration: $duration;
  transition-timing-function: $easing;
  will-change: $property;
}
