/*

  DIALOG

*/
@import "../../atoms/Media/media";
@import "../../atoms/Animation/animation";


[open-dialog], [close-dialog] {
  cursor: pointer;
}

:root {
  --modal-width: 60vw;
  --modal-offset: calc(var(--spacing)*2);
  @include xs-screen {
    --modal-width: 100vw;
  }
}

dialog {
  padding: 0;
  border: none;
}

.dialog {

  &__layout {
    z-index: 10003;
    position: fixed;
    inset: 0;

    display: grid;
    align-content: end;
    pointer-events: none;

  }

    &__overlay {
      position: absolute;
      inset: 0;
      @include animation;
      background: rgba(var(--color-black),.5);
      opacity: 0;
    }

    &__widget {
      z-index: 1;
      position: relative;
      grid-column: 1;
      grid-row: 1;
      
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;

      height: auto;
      width: 100%;
      border-top-right-radius: var(--radius);
      border-top-left-radius: var(--radius);
      overflow: hidden;
      

      &:before {
        content: '';
        z-index: 1;
        position: absolute;
        inset: calc(var(--spacing)*0.5) 40% auto;
        width: 20%;
        height: 3px;
        border-radius: 3px;
        background-color: currentColor;
      }

    }

  
      & {
        overflow-y: scroll;
        background: rgba(var(--card-bg),1);
        .modal__close {
          position: relative;
          inset: auto;    
        }
      }

}

html {
  [dialog-widget] .dialog {
    &__layout {
      @include animation(transform);
      visibility: hidden;
      pointer-events: none;
      transform: scale(1.1);
    }
    
    &__widget {
      @include animation(transform);
      transform: translateY(calc(1*100%));

    }

    &__close {
      opacity: 0;
      transform: translateX(calc(1*var(--pad)));
    }

  }
}

html.has-dialog {

  [dialog-widget] .dialog {

    &__layout {
      visibility: visible;
      pointer-events: all;
      transform: none;
    }

    &__overlay {
      opacity: 1;
      pointer-events: all;
    }
    
    &__widget {
      pointer-events: all;
      transform: translateY(0%);
    }
    &__close {
      opacity: 1;
      transform: none;
      transition-delay: 400ms;

    }

  }
}

html.no-scroll {
  body {
    height: 100vh;
    overflow: hidden;
  }
}



