

/*

	SELECT

*/

select {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;

	option {
		font-family: var(--f-body);
		font-size: var(--f-size-2);
	}
}

.select {
  z-index: 1000;
/*  position: fixed;*/
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 var(--pad); 

  border-top-left-radius: var(--card-radius);
  border-top-right-radius: var(--card-radius);

  /*height: 35vh;*/
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
  justify-content: flex-start;

  &.--line {
    height: calc(var(--pad)*5);
    overflow: auto;
    scroll-snap-type: both mandatory;
    overscroll-behavior-y: contain;
  }

  &.--dialog {
    padding: var(--pad-two-third) 0;
    &:before, &:after {
      content: none;
    }
  }

  .dialog {
    width:  100%;
    display: flex;
    /*padding: 0 var(--pad-2);*/
    flex-direction: row;
    justify-content: space-around;

    .option {
      display: inline-flex;
      text-align: center; 
      align-items: center;
      justify-content: center;
      width: auto; 
      flex-grow: 1;

      button {
        position: relative;
      }
    }
  }

  &:before {
    content: '';
    z-index: 1; 
    position: sticky;
    top: 0; 
    width: 100%;  
    height: var(--pad-2);
/*    margin-bottom:  calc(-1*var(--pad));*/
    /*margin-top:  calc(-1*var(--pad));*/
    flex-shrink: 0;
    background: linear-gradient(to bottom, var(--background) 0%, transparent 100%);
    /*background:   red;*/
    pointer-events: none;
  }
  &:after {
    content: '';
    z-index: 1; 
    position: sticky;
    bottom: 0; 
    width: 100%;  
    height: var(--pad-2);
/*    margin-top:  calc(-1*var(--pad));*/
    flex-shrink: 0;
    background: linear-gradient(to top, var(--background) 0%, transparent 100%);
    /*background:   red;*/
    pointer-events: none;
  }

  .option {
    position: relative;
    display: flex;
    width: 100%;
    height: var(--pad-3);
    flex-shrink: 0;
    justify-content: center;
    align-items: center;

    scroll-snap-align: center center;
    scroll-snap-stop: normal (defaults);

    &.--border {
      border-bottom: 1px solid var(--col);
      width: calc(100% + var(--pad)*4);
    }

    &.selected {
      opacity: 1;
      button.checkbox {
        visibility: visible;
      }
    }



    button {
      position: absolute;
      right: 0;
    }
    button.checkbox {
      visibility: hidden;
      
    }
  }

  &.is-subselect {
    overflow-y: hidden;
    [data-select-group] > [data-select-sub] {
      transform: translateX(-100%) scale(0.5);
      opacity: 0;
    }
  }

  &__group {
    width: 100%;
  }
  
  &.--sub {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: linear-gradient(to right, transparent 0%, color(back) 100%);
  }


}

[data-select-group] {
/*  @extend .select;*/
  position: relative;
  padding: 0;
  overflow-y: scroll;

  [data-select] {
    max-height: 50dvh;
    overflow-y: scroll;
    @include animation;
  }

  &.open {
    overflow: hidden;
    [data-select] {
      transform: scale(0.8) translateX(-50%);
      opacity: 0;
    }
    [data-subselect].active {
      transform: none;
    }
  }
}

[data-subselect] {
  max-height: 50dvh;
  overflow-y: scroll;
  @include animation;
  transform: translateX(100%);

  &.open {
    transform: none;
  }
}

[data-select-default] {
  display: none;
  &:only-child {
    display: initial;
  }
}

[data-select-widget] {

  &.open {
    [data-select-widget] {
      transform: none;
      &:before {
        opacity: 1;
      }
    }

    [data-select-close] {
      opacity: 1;
      pointer-events: all;
    }

  }

  &.is-selected {

    
  }



}
.is-selected [data-select-option]:not(.selected) {
  opacity: 0.5;
}

/*

  MODAL

*/
@import "../../atoms/Media/media";
@import "../../atoms/Animation/animation";

[data-modal-open], [data-modal-close] {
  cursor: pointer;
}

:root {
  --modal-width: 60vw;
  --modal-offset: calc(var(--spacing)*2);
  @include xs-screen {
    --modal-width: 100vw;
  }
}

html {
  [data-app] {
    display: grid;
    @include animation((transform, background));
    transform: none;

    card, header, button, a.button {
      @include animation((transform, opacity));
    }
  }
  [dialog-widget] .modal {
    &__layout {
      @include animation(transform);
      visibility: hidden;
      pointer-events: none;
      transform: scale(1.1);
    }
    
    &__widget {
      @include animation(transform);
      transform: translateY(calc(1*100%));

    }

    &__close {
      opacity: 0;
      transform: translateX(calc(1*var(--pad)));
    }

  }
}

html.has-dialog {
  [data-app] {
    transform: scale(0.9) translateY(-2rem);
    background: rgba(var(--color-white),0.2);
    border-radius: var(--card-radius);
    overflow: hidden;

    card, button, a.button {
      transform: scale(0.75);
      opacity: 0;
    }
    header {
      opacity: 0;
    }
  }
  [dialog-widget] .modal {

    &__layout {
      visibility: visible;
      pointer-events: all;
      transform: none;
    }

    &__overlay {
      opacity: 1;
      pointer-events: all;
    }
    
    &__widget {
      transform: translateY(0%);
    }
    &__close {
      opacity: 1;
      transform: none;
      transition-delay: 400ms;

    }

  }
}

html.no-scroll {
  body {
    height: 100vh;
    overflow: hidden;
  }
}
